<% case @choice %>
<%when '1'%>
  <div id='1'>
    <%=render 'living_room_1' %>
  </div>
<%when '2'%>
  <div id='2'>
    <%=render 'living_room_2' %>
  </div>
<%when '3'%>
  <div id='3'>
    <%=render 'living_room_3' %>
  </div>
<%when '4'%>
  <div id='4'>
    <%=render 'living_room_4' %>
  </div>
<%end%>

<%= form_for @canva, html: {multipart: true} do |f| %>
  <%= f.label :image %>
  <%= f.file_field :image %>
  <%= f.submit "Upload picture" %>
<% end %>
